* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  text-align: center;
  padding: 1rem;
  box-shadow: 0 0 0.7rem #cbcaca;
  position: relative;
}

.city {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #f3f3f3;
  color: rgb(53, 53, 53);
}
.city h3 {
  padding-left: 1rem;
}

.explorer {
  text-align: center;
  margin-top: 2rem;
}
.explorer p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.explorer button {
  padding: 1rem;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 40px;
  box-shadow: 0 5px 0.9rem #c7c4c4;
  transition: all 300ms;
}
.explorer button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.mode {
  padding: 2rem;
  margin-top: 2rem;
}
.mode ol {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  counter-reset: num;
}
@media screen and (max-width: 850px) {
  .mode ol {
    flex-direction: column;
  }
}
.mode li {
  background-color: #f6f6f6;
  padding: 1.3rem 2rem;
  font-weight: bold;
  font-size: small;
  list-style-type: none;
  flex-grow: 1;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 5px 0.9rem #c7c4c4;
}
.mode li::before {
  counter-increment: num;
  content: " " counter(num);
  color: #fff;
  background-color: #9356DC;
  padding: 0.2rem;
  display: grid;
  place-items: center;
  width: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 1rem;
  left: -0.7rem;
}
.mode li:hover {
  transform: scale(1.02);
  background-color: hsl(256deg, 60%, 95%);
}
.mode li i.fas {
  margin-right: 1rem;
  color: gray;
}
.mode li i.fas:hover {
  color: #9356DC;
}

.menus {
  padding: 2rem;
  margin-top: 2rem;
  background-color: #f6f6f6;
}
.menus .menus-div {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.cards {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 5px 0.9rem #c7c4c4;
}

.new {
  position: relative;
}
.new::before {
  content: "Nouveau";
  position: absolute;
  width: auto;
  height: auto;
  padding: 0.3rem 0.5rem;
  background-color: #99E2D0;
  color: #32b091;
  right: 1rem;
  top: 1rem;
}

.cards-img {
  width: 100%;
  height: 230px;
  border-radius: 20px 20px 0 0;
  background-position: center;
  background-size: cover;
}

.one {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.two {
  background-image: url("../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.three {
  background-image: url("../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.four {
  background-image: url("../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.cards-descrip {
  position: relative;
  padding-left: 1rem;
}
.cards-descrip h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.cards-descrip .fa-heart {
  position: absolute;
  top: 0.5rem;
  right: 0.9rem;
  font-size: 2rem;
}
.cards-descrip .far:hover {
  opacity: 0;
}
.cards-descrip .fas {
  opacity: 0;
  background: -webkit-linear-gradient(bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 300ms;
}
.cards-descrip .fas:hover {
  opacity: 1;
}

footer {
  background-color: rgb(41, 40, 40);
  color: #fff;
  padding: 2rem;
  line-height: 2rem;
}
footer h3 {
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 1rem;
}
footer .fa-utensils {
  margin-right: 0.5rem;
}
footer .fa-hands-helping {
  margin-right: 0.2rem;
}

header a {
  position: absolute;
  left: 2rem;
  top: 1rem;
  font-size: 1.5rem;
}

.pages-img {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
  object-position: center;
}

.pages-contain {
  width: 100%;
}

.contain-header {
  position: relative;
  width: 100%;
  margin-top: -2rem;
  padding: 1rem;
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
}
.contain-header h2 {
  font-family: "Shrikhand", sans-serif;
}
.contain-header .fa-heart {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
}
.contain-header .far:hover {
  opacity: 0;
}
.contain-header .fas {
  opacity: 0;
  background: -webkit-linear-gradient(bottom, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 300ms;
}
.contain-header .fas:hover {
  opacity: 1;
}

.contain-list {
  margin-top: -1rem;
}

.list-wrapper {
  padding: 1rem;
  background-color: #f6f6f6;
}
.list-wrapper h3 {
  position: relative;
  font-weight: lighter;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.list-wrapper h3::after {
  content: "";
  position: absolute;
  left: 0;
  top: 1.5rem;
  height: 0.25rem;
  width: 2.8rem;
  background-color: #99E2D0;
}
.list-wrapper .rem {
  margin-top: 3rem;
}
.list-wrapper .list-div {
  margin-bottom: 1rem;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 5px 0.9rem #c7c4c4;
}
.list-wrapper .list-div:nth-child(2), .list-wrapper .list-div:nth-child(3), .list-wrapper .list-div:nth-child(4) {
  animation: animitem 1s 300ms both;
}
.list-wrapper .list-div:nth-child(6), .list-wrapper .list-div:nth-child(7), .list-wrapper .list-div:nth-child(8) {
  animation: animitem 1s 600ms both;
}
.list-wrapper .list-div:nth-child(10), .list-wrapper .list-div:nth-child(11), .list-wrapper .list-div:nth-child(12) {
  animation: animitem 1s 900ms both;
}
.list-wrapper .list-div:hover .check {
  margin: 0;
}
.list-wrapper .list-div:hover .check i {
  transform: rotate(720deg);
}
.list-wrapper .list-div-item {
  padding: 1rem;
  white-space: nowrap;
  overflow: hidden;
}
.list-wrapper .list-div-item h4, .list-wrapper .list-div-item p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.list-wrapper .div-price {
  display: flex;
}
.list-wrapper .prix {
  font-weight: bold;
  padding-top: 2rem;
  padding-right: 1rem;
}
.list-wrapper .check {
  background-color: #99E2D0;
  color: #fff;
  margin-right: -4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: margin-right 400ms;
}
.list-wrapper .check i {
  font-size: 2rem;
  transition: transform 400ms;
}
.list-wrapper .div-btn {
  display: flex;
  justify-content: center;
}
.list-wrapper .div-btn .command {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 40px;
  box-shadow: 0 5px 0.9rem #c7c4c4;
  transition: all 300ms;
  padding: 1rem 3rem;
}
.list-wrapper .div-btn .command:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

@keyframes animitem {
  0% {
    transform: translatey(30%);
    opacity: 0;
  }
  100% {
    transform: translatey(0);
    opacity: 1;
  }
}
.loader {
  position: fixed;
  inset: 0;
  background-color: #fff;
  opacity: 0.9;
  height: 100vh;
  width: 100%;
  z-index: 2;
  animation: loader 300ms 2s both;
  transform-origin: bottom;
  display: grid;
  place-items: center;
}
.loader::after {
  content: " ";
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border-top: 5px solid #9356DC;
  border-bottom: 5px solid #FF79DA;
  animation: rotate 1s linear infinite;
}

@keyframes loader {
  100% {
    transform: scale(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
