@use "../utils/variables.scss";
@use "../utils/mixin.scss";


.explorer {
    text-align: center;
    margin-top: 2rem;
      & p {
        margin-top: 1rem;
        margin-bottom: 2rem;
      }
      & button {
        @include mixin.base-button;
        &:hover {
            opacity: 0.8;
            transform:scale(1.05) ;
        }
      }
  }